@charset "utf-8";

body {
    margin: 0 auto;
    background-color: #eeeeee;
    max-width: 960px;
}

h2 {
    text-align: center;
    padding: 5% 0;
    color: green;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.box {
    margin: 0 10px;
    background-color: white;
}

.container h3 {
    color: green;
    font-size: 24px;
    font-weight: bold;
    border-left: 8px solid green;
    padding-left: 4px;
    margin: 8px;
}

.container p {
    font-size: 16px;
    /* font-weight: bolder; */
    margin: 8px;
    line-height: 24px;
}

@media screen and (max-width: 400px) {
    h2 {
        margin: 20%;
    }

    .container {
        flex-direction: column;
        gap: 32px;
    }

    .box img {
        width: 100%;
    }

}