@charset "utf-8";

/* work1-1 */
.container1 {
  max-width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 30%;
  height: 300px;
  background-color: blue;
}

/* work1-2 */
.container2 {
  max-width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.box2 {
  width: 30%;
  height: 300px;
  background-color: red;
}

/* work1-3 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
}

.header-left h1{
  font-size: 24px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 0 15px;
  /* position: relative; */
}

.menu li:not(:last-child){
  border-right: 1px solid #ccc;
}

/* work2 */
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    flex-direction: column;
    width: 100%;
  }
  .menu li {
    padding: 10px 0;
    border-right: none !important;
    border-bottom: 1px solid #ccc;
  }

    /* 最後の要素にもborder-bottomを追加 */
    .menu li:last-child {
      border-bottom: 1px solid #ccc; /* 最後の要素にborder-bottomを設定 */
  }
}

